* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack, FontAwesome;
    font-size: 16px;
    font-weight: lighter;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    padding: 0 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Tooltip */

tooltip {
    background: black;
    border-radius: 20px;
}

tooltip label {
    color: white;
    font-family: monospace;
}

/* Workspaces group */

#workspaces button {
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    background-color: #000000;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #ff0400;
}

/* At the right of the bar... */

.modules-right {
    border: 1px solid #f53c3c;
    border-radius: 10px;
    background-color: #000000;
}

#pulseaudio,
#bluetooth,
#network,
#clock,
#custom-power,
#custom-notif,
#tray {
    padding: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    border-right: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:first-child > #workspaces {
    margin-right: 0;
    border-left: 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Battery icon settings */

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #00ff6a;
}

#battery.critical:not(.charging) {
    background-color: #ff2828;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Tray */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff1e1a;
}

/* Icon-only modules */

#custom-power, #custom-notif {
    font-size: 20px;
}